.crop-thumbs {
  display: flex;
  flex-wrap: wrap;
}

.crop-thumb {
  position: relative;
  cursor: pointer;
  width: 90px;
  height: 90px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: #FFF;
  box-shadow: 0px 0px 30px rgba(0 0 0 / 0.3);
  border-radius: 6px;
  background-size: cover;
}
.crop-thumbs.small {
  max-height: 150px;
  flex-direction: column;
}

.crop-thumbs.small .crop-thumb{
  width: 43px;
  height: 43px;
}
.crop-thumbs.small .crop-thumb-wrapper {
  width: 43px;
  height: 43px;
}

.crop-thumb.is-active .crop-thumb-wrapper {
  border-color: #5B5CE2;
}

.crop-thumb:hover .crop-thumb-remove {
  display: flex;
}

.crop-thumb-wrapper {
  width: 90px;
  height: 90px;
  background-size: cover;
  border: 3px solid #FFF;
  border-radius: 6px;
}
.crop-thumb.small .crop-thumb-wrapper {
  width: 43px;
  height: 43px;
}

.crop-thumb-remove {
  width: 23px; height: 23px;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute; top: -12px; right: -12px;
  cursor: pointer;
}
.crop-thumb-badge {
  width: 23px; height: 23px;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #1BC58D;
  position: absolute; bottom: -12px; right: -12px;
  cursor: pointer;
}

.crop-thumb.is-valid .crop-thumb-badge {
  display: flex;
}

.thumb-add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #F7F8FD;
  border: 3px solid #FFF;
  border-radius: 6px;
  box-shadow: 0px 0px 30px rgb(207 208 229 / 77%);
  cursor: pointer;
}
.thumb-add-btn i {
  font-size: 35px;
  color: #A4A4BA;
}

.crop-options-buttons {
  display: flex;
}

.crop-option {
  width: 100px; height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  background: #FFF;
  border-color: #F0F0F6;
  border-width: 1px;
  border-style: dashed;
  font-weight: 700;
  cursor: pointer;
}

.crop-option.is-active {
  background: #F7F7FF;
  border-color: #5B5CE2;
}

.crop-image-container {
  background-size: contain;
  height: 320px;
}

.crop-image-result {
  width: 225px;
  height: 225px;
}

.modal-overlay {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255, 0.7);
  z-index: 10;
}

.modal-overlay .spinner-border {
  color: #5B5CE2;
  width: 3rem;
  height: 3rem;
  font-size: 20px;
}