// Font family
$font-family-sans-serif:            				Mulish, Helvetica, "sans-serif";

// Colors

// Gray
$gray-light:                      #F6F6FB;
$gray-100: 										    if(isDarkMode(), #1b1b29, #EEEEF5);
$gray-200: 										    if(isDarkMode(), #2B2B40, #EFF2F5) !default;
$gray-300: 										    if(isDarkMode(), #323248, #E4E6EF) !default;
$gray-400: 										    if(isDarkMode(), #474761, #B5B5C3) !default;
$gray-500:                        #60607A;
$gray-600: 										    if(isDarkMode(), #6D6D80, #7E8299) !default;
$gray-700: 										    if(isDarkMode(), #92929F, #5E6278) !default;
$gray-800: 										    if(isDarkMode(), #CDCDDE, #3F4254) !default;
$text-muted:                                        $gray-500 !default;
$gray-900: 										    if(isDarkMode(), #FFFFFF, #181C32,) !default; 

// Dark colors
$dark:          									$gray-900 !default;

// White colors
$white:    											#FFFFFF;

// Blue colors
$blue: #5B5CE2;

// Base colors
$white:    						                  					#ffffff;
$light-2:                                         #F7F7FF;
$black-1:                                         #212121;
$text-muted:                                        $gray-500 !default;

// Primary colors
$primary:       									#F7F7FF;
$primary-active:    							#afafbb;
$primary-inverse:  								$gray-500;

// Secondary colors
$secondary:     									  $gray-100;
$secondary-inverse:                 $gray-500;

// Light colors
$light:     									    if(isDarkMode(),$gray-300, $gray-100);

// Success colors
$success:       									#1BC58D;

// Inco colors
$info:         		 								$blue;

// Warning colors
$warning:       									#FF7F00;
$warning-active:    							#FF7F00;
$warning-light:    									if(isDarkMode(), #392F28, #FFEFE5) !default;
$warning-inverse:  									$white !default; // Custom variable


// Danger colors
$danger:        									  #F1419D;
$danger-active:     								#EE2D41 !default; // Custom variable
$danger-light:     									if(isDarkMode(), #3A2434, #FFE2E5) !default; // Custom variable
$danger-inverse:   									#FFE2F1;


// Theme colors
$theme-colors: (
	"white":      $white,  // custom color type
  "light":      $light-2,
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "dark":       $dark,
);

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// Font family
$font-weight-boldest:                               700 !default;

// Components

$component-active-color:                            $white;
$component-active-bg:                               #5B5CE2;
$component-hover-color:                             #000;

// Forms
$form-check-input-width-sm:                         1.75rem;
$form-check-input-height-sm:                        1.75rem;

$input-bg:                                          $gray-100;
$input-font-weight:                                 $font-weight-boldest;
$input-color:                                       $gray-500;

$input-solid-bg:                                    $gray-light;
$input-solid-color:                              	  $gray-500;

$form-label-font-size:                              1.15rem;
$form-label-font-weight:                            700 !default;

// Buttons

$btn-font-weight:                                   $font-weight-boldest;

// Links
//
// Style anchor elements.
$link-color:                                        $primary-inverse;

// Text colors
$theme-text-colors: (
    "white":      $white,
	  "primary":    $primary,
    "secondary":  $secondary,
    "light":      $light,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "dark":       $dark,
    "muted":      $text-muted,
    "gray-100":   $gray-100,
    "gray-200":   $gray-200,
    "gray-300":   $gray-300,
    "gray-400":   $gray-400,
    "gray-500":   $gray-500,
    "gray-600":   $gray-600,
    "gray-700":   $gray-700,
    "gray-800":   $gray-800,
    "gray-900":   $gray-900,
    "link-active": $blue
);