// Font family
$font-family-sans-serif:            				Mulish, Helvetica, "sans-serif" !default;

// Colors
$gray-100: 										    if(isDarkMode(), #1b1b29, #EEEEF5);
$light-2: #F7F7FF;

// Success colors
$success:       									#1BC58D; // Bootstrap variable